<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <properties>
        <connectionString>hello,world!</connectionString>
    </properties>

    <facilities>
        <facility id="logging"
           type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
           loggingApi="log4net"
           configFile="log.config" />
    </facilities>

    <components>
        <component service="Microsoft.Owin.Logging.ILoggerFactory,Microsoft.Owin"
                   type="Beginor.Owin.Logging.CastleLoggerFactory,Beginor.Owin.Logging"
                   inspectionBehavior="declaredonly" />

        <component type="Beginor.Owin.StaticFile.StaticFileMiddlewareOptions,Beginor.Owin.StaticFile"
                   inspectionBehavior="declaredonly">
            <parameters>
                <rootDirectory>../../Website</rootDirectory>
                <defaultFile>index.html</defaultFile>
                <enableETag>true</enableETag>
                <enableHtml5LocationMode>true</enableHtml5LocationMode>
            </parameters>
        </component>

        <component type="TestWithNowin.Controllers.SampleController,TestWithNowin"
                   inspectionBehavior="declaredonly"
                   lifestyle="transient" />
        <component type="TestWithNowin.Logic.SampleManager,TestWithNowin"
                   inspectionBehavior="declaredonly"
                   lifestyle="scoped" />
    </components>

</configuration>