<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <facilities>
        <facility id="logging"
           type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
           loggingApi="log4net"
           configFile="log.config" />
    </facilities>

    <components>
        <component service="Microsoft.Owin.Logging.ILoggerFactory,Microsoft.Owin"
                   type="Beginor.Owin.Logging.CastleLoggerFactory,Beginor.Owin.Logging"
                   inspectionBehavior="declaredonly" />
        <component type="Beginor.Owin.StaticFile.StaticFileMiddlewareOptions,Beginor.Owin.StaticFile"
                   inspectionBehavior="declaredonly">
            <parameters>
                <rootDirectory>..\..\Website</rootDirectory>
                <defaultFile>index.html</defaultFile>
                <enableETag>true</enableETag>
            </parameters>
        </component>
    </components>

</configuration>